[submodule "encoder/vendor/libimagequant"]
	path = encoder/vendor/libimagequant
	url = https://github.com/ImageOptim/libimagequant.git
[submodule "encoder/vendor/gifsicle"]
	path = encoder/vendor/gifsicle
	url = https://github.com/kohler/gifsicle.git
