@import url('https://unpkg.com/chota@0.7.1');

:root {
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: none;
  width: 600px;
}

video {
  display: none;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 60px;
}

.button {
  display: flex;
  box-shadow: 0px 0px 5px 0px #00000054;
}

.button:active {
  box-shadow: 0px 0px 3px 0px #00000054;
}

button > img {
  margin-right: 0.3em;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recording {
  display: block;
  max-width: 50%; 
  box-shadow: 0px 0px 10px 5px #00000054;
}
