@import url('https://unpkg.com/chota@0.7.1');

:root {
  --color-primary: #AD2C2C;
  --color-lightGrey: #d2d6dd;
  --color-grey: #5e5e5e;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #333;
}

img {
  max-width: initial !important;
}

.hidden {
  display: none;
}

#app-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#app-footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #333333;
  color: #c5c5c5;
  border-top: 1px solid #9e9e9e;
  font-size: 0.8em;
}

#app-footer a {
  color: #ce6464;
}

#app-footer img {
  vertical-align: middle;
}

h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 5em;
}

.gif {
  color: #AD2C2C;
}

.cap {
  color: #2E2E2E;
}

.button {
  display: flex;
  box-shadow: 0px 0px 5px 0px #00000054;
}

.button:active {
  box-shadow: 0px 0px 3px 0px #00000054;
}

button:not(.icon-only) > img {
  margin-right: 0.3em;
}

.actions {
  padding: 2em;
  display: flex;
  border-top: 1px solid #9e9e9e;
}

.actions:empty {
  display: none;
}

.status {
  display: flex;
  justify-content: center;
}

#app-container {
  flex: 1;
}

.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0 0 4px #a5a5a5;
  border-top: 1px solid #9e9e9e;
  font-size: 20px;
  text-align: center;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}

.recording, .preview {
  box-shadow: 0px 0px 5px 1px #00000054;
}

.recording {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
}

.preview {
  position: absolute;
}

.preview > canvas,
.preview > .crop-box {
  position: absolute;
  top: 0;
  left: 0;
}

.preview > canvas {
  width: 100%;
  height: 100%;
}

.recording-card > footer {
  border-top: 1px solid #9e9e9e;
  margin-top: 18px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tag, .tag > a {
  display: flex;
  align-items: center;
}

.tag img {
  margin-right: 0.3em;
}

.crop {
  cursor: crosshair;
}

.crop-box {
  position: absolute;
  background: rgba(193, 193, 193, 0.69);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playbar {
  flex: 1;
  margin: 0 10px;
  position: relative;
}

.playbar > input {
  height: 50%;
  margin: 0;
}

.playbar > input:disabled {
  opacity: 1;
}

.playbar > .trim-bar {
  border-top: 2px solid #AD2C2C;
  position: absolute;
  top: calc(50% + 4px);
}

.playbar > .trim-bar > .trim-start, 
.playbar > .trim-bar > .trim-end {
  position: absolute;
  border: 6px solid #AD2C2C;
  border-bottom-color: transparent;
  cursor: pointer;
}

.playbar > .trim-bar > .trim-start {
  top: 0;
  left: 0;
  border-right-color: transparent;
}

.playbar > .trim-bar > .trim-end {
  top: 0;
  right: 0;
  border-left-color: transparent;
}

input[type="range"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button.outline {
  border: none;
}