name: Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: npm install
      - run: npm run build
      - name: Compile encoder
        uses: docker://emscripten/emsdk
        with:
          args: bash -c "cd encoder && ./configure && make"
      - name: Upload
        if: github.ref == 'refs/heads/prod'
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: |
            dist/*.js
            *.css
            *.html
            README.md
            LICENSE
            media/**
            encoder/*.js
            encoder/*.wasm

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/prod'
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          fetch-depth: 0
      - name: Download
        uses: actions/download-artifact@v2
        with:
          name: build
          path: .
      - name: Publish
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git add .
          git commit -m 'publish gh-pages'
          git push
