name: Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
      - run: npm install
      - run: npm run build
      - name: Compile encoder
        uses: docker://emscripten/emsdk
        with:
          args: bash -c "apt-get update && apt-get install -y autoconf automake libtool && cd encoder && ./configure && make"
      - name: Create .nojekyll file
        run: touch .nojekyll
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/prod'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          force_orphan: true
